$fixed-panel-background-color: #fff;

.month-nav, .banner, .budget-headers, .budget-headers {
  background: $fixed-panel-background-color;
  position: fixed;
  right: 0;
  left: 0;
}

.month-nav {
  top: 52px;
  z-index: 1030;
}

.banner {
  top: 72px;
  z-index: 1020;

}

.budget-headers {
  top: 165px;
  z-index: 1010;
  &:before {
    content: "";
    height: 10px;
    display: block;
  }
}

.budget-rows {
  margin-top: 214px;
}

.main-title {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 0;

  b {
    font-weight: 400;
  }

  & ~ p.lead {
    font-size: 1rem;
  }
}


.jumbotron ~ .container {
  margin-top: 10rem;
}
