<div class="column-container budget-headers">
  <div class="header-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Kategorien
          <button type="button" class="btn btn-link">Neue Gruppe</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">Geplant</div>
        <div class="cell">Ausgegeben</div>
        <div class="cell">Budget</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">Geplant</div>
        <div class="cell">Ausgegeben</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">Ausgegeben</div>
      </div>
    </div>
  </div>
</div>
