*.class

# Package Files
*.jar
*.war
*.ear

# build dirs
out
target
build
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IntelliJ
*.iml
*.ipr
*.iws
.idea
.shelf
.ideaDataSources

# temp
*.*~

# Mac OS X
.DS_Store

# JRebel
**/rebel.xml

# Visual Studio Code
server/.project
.project