<div class="content-row category-group">
  <div class="categories">
    <div class="column-row">
      <div class="cell d-flex justify-content-between ">
        {{ masterCategory.name }}
        <button type="button" class="btn btn-link">Neue Unterkategorie</button>
      </div>
    </div>
  </div>
  <div class="current-month">
    <div class="column-row">
      <div class="cell">{{ planned | currency:'EUR':'2.2-2' }}</div>
      <div class="cell">{{ spending | currency:'EUR':'2.2-2' }}</div>
      <div class="cell">{{ difference | currency:'EUR':'2.2-2' }}</div>
    </div>
  </div>
  <div class="last-month">
    <div class="column-row">
      <div class="cell">{{ previousPlanned | currency:'EUR':'2.2-2' }}</div>
      <div class="cell">{{ previousSpending | currency:'EUR':'2.2-2' }}</div>
    </div>
  </div>
  <div class="average">
    <div class="column-row">
      <div class="cell">{{ average | currency:'EUR':'2.2-2' }}</div>
    </div>
  </div>
</div>

<app-category-entry *ngFor="let category of masterCategory._embedded" [category]="category"></app-category-entry>


