<div class="content-row category-group">
  <div class="categories">
    <div class="column-row">
      <div class="cell d-flex justify-content-between ">
        {{ masterCategory.name }}
        <button type="button" class="btn btn-link">Neue Unterkategorie</button>
      </div>
    </div>
  </div>
  <div class="current-month">
    <div class="column-row">
      <div class="cell">{{ planned }}</div>
      <div class="cell">{{ spending }}</div>
      <div class="cell">{{ difference }}</div>
    </div>
  </div>
  <div class="last-month">
    <div class="column-row">
      <div class="cell">{{ previousPlanned }}</div>
      <div class="cell">{{ previousSpending }}</div>
    </div>
  </div>
  <div class="average">
    <div class="column-row">
      <div class="cell">{{ average }}</div>
    </div>
  </div>
</div>

<app-categories [categories]="masterCategory.categories"></app-categories>

