<ul class="month-nav nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Januar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Februar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">März</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">April</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Juni</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Juli</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">August</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">September</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Oktober</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">November</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dezember</a>
  </li>
</ul>
