<div class="column-container mt-5">

  <div class="header-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Kategorien
          <button type="button" class="btn btn-link">Neue Gruppe</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">Geplant</div>
        <div class="cell">Ausgegeben</div>
        <div class="cell">Budget</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">Geplant</div>
        <div class="cell">Ausgegeben</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">Ausgegeben</div>
      </div>
    </div>
  </div>

  <div class="content-row category-group">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Wohnen
          <button type="button" class="btn btn-link">Neue Unterkategorie</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">
          0,00 €
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">880,00 €</div>
        <div class="cell">880,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">880,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Miete</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">650,00 €</div>
        <div class="cell">650,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">650,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Strom</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">50,00 €</div>
        <div class="cell">50,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">50,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Internet</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">50,00 €</div>
        <div class="cell">50,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">50,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Nebenkosten</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">130,00 €</div>
        <div class="cell">130,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">130,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row category-group">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Auto
          <button type="button" class="btn btn-link">Neue Unterkategorie</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">
          0,00 €
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">200,00 €</div>
        <div class="cell">165,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">182,49 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Benzin</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">120,00 €</div>
        <div class="cell">85,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">102,49 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Versicherung</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">80,00 €</div>
        <div class="cell">80,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">80,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row category-group">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Essen
          <button type="button" class="btn btn-link">Neue Unterkategorie</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">
          0,00 €
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">200,00 €</div>
        <div class="cell">135,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">185,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Frühstück</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Mittagessen</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">100,00 €</div>
        <div class="cell">85,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">85,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Abendessen</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Lebensmittel</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row category-group">
    <div class="categories">
      <div class="column-row">
        <div class="cell d-flex justify-content-between ">
          Bekleidung
          <button type="button" class="btn btn-link">Neue Unterkategorie</button>
        </div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell">
          0,00 €
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">200,00 €</div>
        <div class="cell">135,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">185,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Hemden</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Hosen</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">100,00 €</div>
        <div class="cell">85,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">85,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">Schuhe</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="categories">
      <div class="column-row">
        <div class="cell">T-Shirts</div>
      </div>
    </div>
    <div class="current-month">
      <div class="column-row">
        <div class="cell cell-input">
          <input class="form-control" placeholder="Budget">
        </div>
        <div class="cell">0,00 €</div>
        <div class="cell">0,00 €</div>
      </div>
    </div>
    <div class="last-month">
      <div class="column-row">
        <div class="cell">30,00 €</div>
        <div class="cell">30,00 €</div>
      </div>
    </div>
    <div class="average">
      <div class="column-row">
        <div class="cell">30,00 €</div>
      </div>
    </div>
  </div>
</div>





