<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Januar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Februar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">März</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">April</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Juni</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Juli</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">August</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">September</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Oktober</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">November</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dezember</a>
  </li>
</ul>


<div class="container-fluid">

  <div class="row mt-5">
    <div class="col-lg-3">
      <h1 class="display-4">Haushalt Budget</h1>
    </div>
    <div class="col-lg-1">
      Durchschnittliche Ausgaben 12 Monate
    </div>
    <div class="col-lg-2">
      Ausgaben letzter Monat
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          Übersicht November
        </div>
      </div>
    </div>
  </div>

  <div class="row">

      <div class="col-1">
        <div class="header"></div>
        <div class="body-item"></div>
      </div>
      <div class="col-2">
        <div class="header"></div>
        <div class="body-item"></div>
      </div>
      <div class="col-3">
        <div class="header"></div>
        <div class="body-item"></div>
      </div>
      <div class="col-4">
        <div class="header"></div>
        <div class="header"></div>
        <div class="header"></div>
        <div class="body-item"></div>
      </div>

  </div>

</div>

