<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link">Januar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Februar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">März</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">April</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Mai</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Juni</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Juli</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">August</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">September</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Oktober</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">November</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Dezember</a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">

    <div class="row">
      <div class="col-lg-3">
        <h1>Haushalt Budget</h1>
      </div>
      <div class="col-lg-1">
        Durchschnittliche Ausgaben 12 Monate
      </div>
      <div class="col-lg-2">
        Ausgaben letzter Monat
      </div>
      <div class="col-lg-6">

        <div class="card">
          <div class="card-block">
            Übersicht November
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3">
          <table class="table">
            <thead>
            <tr>
              <th class="left">Kategorien</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="left p4">Wohnen</td>
            </tr>
            <tr>
              <td class="left">Miete</td>
            </tr>
            <tr>
              <td class="left">Strom</td>
            </tr>
            <tr>
              <td class="left">Internet</td>
            </tr>
            <tr>
              <td class="left p4">Auto</td>
            </tr>
            <tr>
              <td class="left">Kraftstoff</td>
            </tr>
            <tr>
              <td class="left">Verschleiß</td>
            </tr>
            <tr>
              <td class="left">Versicherung</td>
            </tr>
            <tr>
              <td class="left p4">Essen</td>
            </tr>
            <tr>
              <td class="left">Frühstück</td>
            </tr>
            <tr>
              <td class="left">Mittagessen</td>
            </tr>
            <tr>
              <td class="left">Snacks</td>
            </tr>
            <tr>
              <td class="left">Abendessen</td>
            </tr>
            <tr>
              <td class="left p4">Bekleidung</td>
            </tr>
            <tr>
              <td class="left">Hemden</td>
            </tr>
            <tr>
              <td class="left">Hosen</td>
            </tr>
            <tr>
              <td class="left">T-Shirts</td>
            </tr>
            </tbody>
          </table>
        </div>

      <div class="col-lg-1">
        <table class="table">
          <thead>
          <tr>
            <th class="right">Ausgegeben</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="right p4">800 €</td>
          </tr>
          <tr>
            <td class="right">700 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">310 €</td>
          </tr>
          <tr>
            <td class="right">250 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">60 €</td>
          </tr>
          <tr>
            <td class="right p4">200 €</td>
          </tr>
          <tr>
            <td class="right">30 €</td>
          </tr>
          <tr>
            <td class="right">100 €</td>
          </tr>
          <tr>
            <td class="right">20 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">250 €</td>
          </tr>
          <tr>
            <td class="right">120 €</td>
          </tr>
          <tr>
            <td class="right">80 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2">
        <table class="table">
          <thead>
          <tr>
            <th class="right">Geplant</th>
            <th class="right">Ausgegeben</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="right p4">800 €</td>
            <td class="right p4">800 €</td>
          </tr>
          <tr>
            <td class="right">700 €</td>
            <td class="right">700 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">310 €</td>
            <td class="right p4">310 €</td>
          </tr>
          <tr>
            <td class="right">250 €</td>
            <td class="right">250 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">60 €</td>
            <td class="right">60 €</td>
          </tr>
          <tr>
            <td class="right p4">200 €</td>
            <td class="right p4">200 €</td>
          </tr>
          <tr>
            <td class="right">30 €</td>
            <td class="right">30 €</td>
          </tr>
          <tr>
            <td class="right">100 €</td>
            <td class="right">100 €</td>
          </tr>
          <tr>
            <td class="right">20 €</td>
            <td class="right">20 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">250 €</td>
            <td class="right p4">250 €</td>
          </tr>
          <tr>
            <td class="right">120 €</td>
            <td class="right">120 €</td>
          </tr>
          <tr>
            <td class="right">80 €</td>
            <td class="right">80 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6">
        <table class="table">
          <thead>
          <tr>
            <th class="left">Geplant</th>
            <th class="right">Ausgegeben</th>
            <th class="right">Budget</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="left p4">0 €</td>
            <td class="right p4">800 €</td>
            <td class="right p4">800 €</td>
          </tr>
          <tr>
            <td class="left">
              <div class="form-group">
                <input type="text" placeholder="Budget">
              </div>
            </td>
            <td class="right">700 €</td>
            <td class="right">700 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">310 €</td>
            <td class="right p4">310 €</td>
            <td class="right p4">310 €</td>
          </tr>
          <tr>
            <td class="right">250 €</td>
            <td class="right">250 €</td>
            <td class="right">250 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right">60 €</td>
            <td class="right">60 €</td>
            <td class="right">60 €</td>
          </tr>
          <tr>
            <td class="right p4">200 €</td>
            <td class="right p4">200 €</td>
            <td class="right p4">200 €</td>
          </tr>
          <tr>
            <td class="right">30 €</td>
            <td class="right">30 €</td>
            <td class="right">30 €</td>
          </tr>
          <tr>
            <td class="right">100 €</td>
            <td class="right">100 €</td>
            <td class="right">100 €</td>
          </tr>
          <tr>
            <td class="right">20 €</td>
            <td class="right">20 €</td>
            <td class="right">20 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          <tr>
            <td class="right p4">250 €</td>
            <td class="right p4">250 €</td>
            <td class="right p4">250 €</td>
          </tr>
          <tr>
            <td class="right">120 €</td>
            <td class="right">120 €</td>
            <td class="right">120 €</td>
          </tr>
          <tr>
            <td class="right">80 €</td>
            <td class="right">80 €</td>
            <td class="right">80 €</td>
          </tr>
          <tr>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
            <td class="right">50 €</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
