<div class="content-row category-group">
  <div class="categories">
    <div class="column-row">
      <div class="cell d-flex justify-content-between ">
        {{ budgetGroup.name }}
        <button type="button" class="btn btn-link">Neue Unterkategorie</button>
      </div>
    </div>
  </div>
  <div class="current-month">
    <div class="column-row">
      <div class="cell">{{ budget }}</div>
      <div class="cell">{{ expenses }}</div>
      <div class="cell">{{ difference }}</div>
    </div>
  </div>
  <div class="last-month">
    <div class="column-row">
      <div class="cell">880,00 €</div>
      <div class="cell">880,00 €</div>
    </div>
  </div>
  <div class="average">
    <div class="column-row">
      <div class="cell">880,00 €</div>
    </div>
  </div>
</div>

<app-budget-entries [budgetEntries]="budgetGroup.entries"></app-budget-entries>

