<div class="content-row">
  <div class="categories">
    <div class="column-row">
      <div class="cell d-flex justify-content-between ">
        {{ budgetEntry.category.name }}
        <button type="button" class="btn btn-link">Bearbeiten</button>
      </div>
    </div>
  </div>
  <div class="current-month">
    <div class="column-row">
      <div class="cell cell-input">
        <input class="form-control" placeholder="0,00" [value]="budgetEntry.budget">
      </div>
      <div class="cell">{{ budgetEntry.expenses }}</div>
      <div class="cell">{{ getDifference() }}</div>
    </div>
  </div>
  <div class="last-month">
    <div class="column-row">
      <div class="cell">650,00 €</div>
      <div class="cell">650,00 €</div>
    </div>
  </div>
  <div class="average">
    <div class="column-row">
      <div class="cell">650,00 €</div>
    </div>
  </div>
</div>
