<div class="banner mt-3">
  <div class="banner-row d-flex align-items-end">
    <div class="accounts-nav">
      <div class="metadata-content">
        <h1>Konten</h1>
        <p class="text-secondary">November 2017</p>
      </div>
    </div>
    <div class="selected-account">
      <div class="metadata-content d-flex justify-content-between">
        <div>
          <h2>Bargeld</h2>
          <p class="text-secondary">Transaktionen verwalten</p>
        </div>
        <div class="text-right d-flex justify-content-end align-items-end">
          <div class="metadata-box">
            <p class="text-secondary">Budget</p>
            <div class="font-weight-bold text-success">2856,00 EUR</div>
          </div>
          <div class="metadata-box">
            <p class="text-secondary">Übertrag</p>
            <div class="font-weight-bold">156,00 EUR</div>
          </div>
          <div class="metadata-box">
            <p class="text-secondary">Einnahmen</p>
            <div class="font-weight-bold">2700,00 EUR</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accounts-content">

  <div class="accounts-nav">
    <div class="panel-content">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link">Bargeld</a>
        <a class="nav-link">Giro</a>
        <a class="nav-link">Kreditkarte</a>
      </nav>
    </div>
  </div>

  <div class="selected-account">

    <div class="panel-content">
Etwas mehr Inhalt
    </div>

  </div>
</div>
