.btn-link {
  text-transform: uppercase;
  padding: 0;
  border-width: 0;
  font-weight: $font-weight-bold;
  transition: color ease-in-out 0.2s;
  color: $primary;
  font-size: 0.8rem;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: darken($primary, 15);
  }
}
